.gitignore
.eslintcache
.eslintrc.cjs
.vscode/**
.vscode-test/**
.github/**
docs/**
out/**
scripts/**
src/**
test/**
v1/**
esbuild.config.mjs
tsconfig.json
tsconfig.test.json
**/*.map
**/*.ts
RELEASE_CHECKLIST.md
